registry=https://pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:username=msface
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:_password=["MWx1RXBwRE5YamZVZEFTV3FBWGdXYTFGU1JwSFc3RXFwT2hSemNOWncyaXBGSE15OERyVkpRUUo5OUFKQUNBQUFBQUFBcm9oQUFBU0FaRE9yNVg5"]
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:email=["seth@youverify.co"]
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:username=msface
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:_password=["MWx1RXBwRE5YamZVZEFTV3FBWGdXYTFGU1JwSFc3RXFwT2hSemNOWncyaXBGSE15OERyVkpRUUo5OUFKQUNBQUFBQUFBcm9oQUFBU0FaRE9yNVg5"]
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:email=["seth@youverify.co"]
; end auth token